<!DOCTYPE plugin PUBLIC "-//Oxygen Plugin" "../plugin.dtd">
<plugin
 id="oxygenxml.pdfimage"
 name="PDF Image Rendering"
 description="Contribute libraries to oXygen to make it able to render PDF images in the Author page."
 version="1.0"
 vendor="Syncro Soft SRL"
 class="ro.sync.exml.plugin.Plugin"
 classLoaderType="preferReferencedResources">
 <extension type="WorkspaceAccessJS" href="wsAccess.js"/>
 <runtime>
  <librariesFolder name="lib" scope="global"/>
 </runtime>
</plugin>
